html{
    background-color: black;
}
img{
    margin-left:25%;
    height: 50%;
    border: 5px solid white;
}
h1{
    font-family: 'Libre Baskerville', serif;
    color:white;
    text-align:center;
    text-transform:uppercase;
}
div{
    margin-top:10%;
}
p{
    font-family: 'Libre Baskerville', serif;
    color:white;
    text-align:center;
    text-transform:uppercase;
}
