html{
    background-color: black;
}
img{
    margin-left:auto;
    margin-right:auto;
    border: 5px solid white;
}
#cat{
    width: 500px;
}
h1{
    font-family: 'Libre Baskerville', serif;
    color:white;
    text-align:center;
    text-transform:uppercase;
    margin: 0;
}
div{
    margin-top:5%;
    margin-bottom:10%;
}
p{
    font-family: 'Libre Baskerville', serif;
    color:white;
    text-align:center;
    text-transform:uppercase;
    margin: 0;
}
